*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/WIP_logo.xcf
/WIP_logo.png
/WIP_logo_cropped.png
/.idea/deploymentTargetDropDown.xml
/app/release/output-metadata.json
/app/release/RecipeReminder.apk
